{% extends 'base.html' %}

{% block content %}
    <center>
        {% include 'judul.html' %}
        <h2>ubah buku {{ book.judul }}</h2>
        <br>
    </center>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'ubah_buku' book.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
            
                    <button class="btn btn-primary">submit</button>
                    <a href="/buku" class="btn btn-warning">kembali</a>
                </form>
            </div>
        </div>
    </div>

{% endblock  %}